.uploadContainer {
  /* background: #000; */
  /* display: grid; */
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 21.4rem);
  /* place-content: center;
  grid-template-columns: 100%; */
  padding: 8rem 0;
}

.mainContainer {
  width: 100%;
  min-height: 60vh;
  max-width: var(--max-width);
  /* background: #000; */
  padding: 0 2rem;
  margin: 0 auto;
}
.articleContainer {
  display: grid;
  width: 100%;
  max-width: 100rem;
  gap: 4.8rem;
  margin:  0 auto;
}
.articleContainer .rightSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  justify-content: flex-start;
  order: 1;
}

.articleContainer div h3 {
  font-size: clamp(var(--text-xl), 2.5vw, var(--text-xxl));
  font-weight: bold;
  text-align: center;
  /* color: rgba(var(--purple-color)); */
  margin: 0 auto;
}

.downloadBtn {
  padding: .8rem 1.8rem;
  border-radius: 4rem;
  font-weight: bold;
  transition: all ease .3s;
  background: transparent;
  border: .2rem solid rgba(var(--soft-green-color));
  display: flex;
  align-items: center;
  justify-content: center;
}
.downloadBtn svg {
  font-size: var(--text-xl);
}

.downloadBtn:hover {
  background: rgba(var(--purple-color));
  border: .2rem solid rgba(var(--purple-color));
}


@media (min-width: 768px) {
  .uploadContainer {
    min-height: calc(100vh - 12rem);
  }
  .articleContainer {
    grid-template-columns: 1fr 30%;
  }
  .articleContainer div h3 {
    text-align: left;
  }

  
}