@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

:root {
  --bg-color: 237, 246, 249;
  --font-color: #121212;
  --green-color: 0, 109, 119;
  --soft-green-color: 131, 197, 190;
  --pink-color: 222, 197, 227;
}

body {
  font-family: 'Quicksand';
  background: rgba(var(--bg-color));
}