/* Desacticamos las animaciones en caso de que el usuario haya configurado el modo sin animaciones */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}

/* Reseteamos los margenes y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Envitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* Opcional */
  object-fit: cover;
  object-position: center center;
}

/* Reseteamos los enlaces para funcioanr como cajas..!  */
a {
  display: block;
}
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Descativamos los estilos por defecto en las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
/* ::selection {
  background: v.$black;
  color: v.$white;
} */

/* Nivelamos problemas de tipografias y colocacion de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /* Opcional */
  /* appearance: none; */
}

/* Resetamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
/* Configuramos la tipografia para toda la web */
body {
  min-height: 100vh;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--dark);

  /* Opcional */
  /* line-height: 1.4rem; */
  /* hyphens: auto; */
  font-smooth: always;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-ftont-smoothing: grayscale;
}